#date {
  line-height: 2.0;
}

#title {
  color: #1312128c;
}

.upvote-icon, .downvote-icon {
  cursor: pointer;
}

%hover-upvote {
  color: red !important;
}

%hover-downvote {
  color: blue !important;
}

.upvote-icon:hover {
  @extend %hover-upvote
}

.downvote-icon:hover {
  @extend %hover-downvote
}

.up {
  @extend %hover-upvote
}

.down {
  @extend %hover-downvote
}
