<app-navbar></app-navbar>
<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar" #sidebar>

    <ul class="list-unstyled components">
      <p>Administrator Dashboard</p>
      <li [class.active]="router.url.toString().endsWith('manage-topics')">
        <a routerLink="/dashboard/manage-topics">Manage Topics</a>
      </li>
      <li [class.active]="router.url.toString().endsWith('manage-posts')">
        <a routerLink="/dashboard/manage-posts">Manage Posts</a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <!-- sidebar toggle -->
    <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="toggleNav()">
      <i class="fas fa-align-left"></i>
    </button>
    <!-- page content here -->
    <router-outlet></router-outlet>

  </div>
</div>
